name: Phpunit

on:
  - push
  - workflow_dispatch

jobs:
  docker:
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5

      - name: Install dependencies
        run: composer install

      - name: Run cs-fixer-check
        run: composer cs-fixer-check

      - name: Run phpstan
        run: composer phpstan

      - name: Run tests
        run: composer tests
